<div class="helper">
<p>Here is some hint how to play sodoku:</p>
<ul>
	<li>every row must contain unique numbers from 1..9 </li>
	<li>every column must contain unique numbers from 1..9</li>
	<li>every box is made from unique numbers 1..9</li>
</ul>
<p>Good luck!</p>
</div>