<html>
<head>
  <title>Sudoku Game</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Life is too short for playing Sudoku</h1>  
<%= yield  %>
</body>
</html>