div.box, div.cell {
  display: inline-block;
}

.border-box {
  border: 1px solid #000;
  display: block;
  font: 0px;
  width: 276px;
  margin: auto;
  margin-bottom: 15px;
}

div.box {
  border: 1px solid #000;
}

.cell input {
  width: 30px;
  height: 30px;
  font-weight: 900;
  text-align: center;
  font-size: 14px;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  font-family: Arial;
}

.incorrect {
  background-color: red;
}

.value-provided {
  background-color: #DDD;
}

#flash {
  margin: 20px;
}

#help {
  width: 30px;
  height: 30px;
}